version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"  # UI web
    networks:
      - micro-net

  authservice:
    build: 
      context: ./AuthService
      dockerfile: Dockerfile
    container_name: authservice
    depends_on:
      - rabbitmq
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      RabbitMQ__Host: rabbitmq  # ĐIỂM QUAN TRỌNG
      RabbitMQ__Port: 5672
      RabbitMQ__User: guest
      RabbitMQ__Pass: guest
    ports:
      - "5001:5001"
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge
