spring:
  datasource:
    url: jdbc:mysql://localhost:3306/delivery_db?useSSL=false&serverTimezone=UTC
    username: root
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8086
